{% extends 'base.html' %}
{% load static %}

{% block title %}home{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}" type="text/css"/>
{% endblock %}
  
  
{% block content %}
    <h1>Twitter_clone_app!</h1>
    <p>{{ user.username }}でログイン中</p>
    <h2>
      <a href="{% url 'profile' user.username %}">プロフィール</a>
    </h2>
    <h2>
      <a href="{% url 'logout' %}">ログアウト</a>
    </h2>
    <h2>
      <a href="{% url 'tweet' %}">ツイート</a>
    </h2>
    {% for tweet in tweet_list %}
      <div class="tweet">
        <p>username: {{ tweet.user }}</p>
        <p>published: {{ tweet.published_at }}</p>
        <div id="text">
          <h3>{{ tweet.text }}</h3>
        </div>
        <p id="delete">
          <a href="{% url 'delete' tweet.pk %}">削除</a>
        </p>
        <p><a href ="{% url 'detail' tweet.pk %}">詳細</a></p>
        {% if tweet.pk in like_list %}
        <button id= "like{{ tweet.pk }}" type="submit" class="like_button {{ tweet.pk }}">いいね解除</button>
        {% else %}
        <button id= "like{{ tweet.pk }}" type="submit" class="like_button {{ tweet.pk }}">いいね</button>
        {% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
  
          var csrftoken = getCookie('csrftoken');
          
          function csrfSafeMethod(method) {
           // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
    
          $.ajaxSetup({
              beforeSend: function (xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });

          $(document).on('click', "#like{{ tweet.pk }}", function(event){
            event.preventDefault();
            $.ajax({
              type: 'POST',
              url: "{% url 'like' tweet.pk %}",
              data: {
              },
              dataType: 'json',
            })
            .done(function(response){
              let like_text = document.getElementsByClassName("like_button {{ tweet.pk }}")[0];
              if (response.liked) {
                like_text.textContent = "いいね解除";
              } else {
                like_text.textContent = "いいね";
              }
            });
          });
        </script>
      </div>
    {% endfor %}
{% endblock %}

