{% extends 'base.html' %}
{% load static %}

{% block title %}home{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}" type="text/css"/>
{% endblock %}
  
  
{% block content %}
    <h1>Twitter_clone_app!</h1>
    <p>{{ user.username }}でログイン中</p>
    <h2>
      <a href="{% url 'logout' %}">ログアウト</a>
    </h2>
    <h2>
      <a href="{% url 'tweet' %}">ツイート</a>
    </h2>
    {% for tweet in tweet_list %}
      <div class="tweet">
        <p>username: {{ tweet.user }}</p>
        <p>published: {{ tweet.published_date }}</p>
        <h3>{{ tweet.text }}</h3>
      </div>
    {% endfor %}
    
{% endblock %}

