{% extends 'base.html' %}
{% load static %}

{% block title %}home{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}" type="text/css"/>
{% endblock %}
  
  
{% block content %}
    <h1>Twitter_clone_app!</h1>
    <p>{{ user.username }}でログイン中</p>
    <h2>
      <a href="{% url 'profile' user.username %}">プロフィール</a>
    </h2>
    <h2>
      <a href="{% url 'logout' %}">ログアウト</a>
    </h2>
    <h2>
      <a href="{% url 'tweet' %}">ツイート</a>
    </h2>
    {% for tweet in tweet_list %}
      <div class="tweet">
        <p>username: {{ tweet.user }}</p>
        <p>published: {{ tweet.published_at }}</p>
        <div id="text">
          <h3>{{ tweet.text }}</h3>
        </div>
        <p id="delete">
          <a href="{% url 'delete' tweet.pk %}">削除</a>
        </p>
        <p><a href ="{% url 'detail' tweet.pk %}">詳細</a></p>
        {% if tweet.pk in like_list %}
        <form action="{% url 'unlike' tweet.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" name="unlike" value="unlike">
        </form>
        {% else %}
        <form action="{% url 'like' tweet.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" name="like" value="like">
        </form>
        {% endif %}
      </div>
    {% endfor %}
{% endblock %}

