{% extends 'base.html' %}
{% load static %}
{% block title %}profile{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}" type="text/css"/>
{% endblock %}
  
  
{% block content %}
    <h1>プロフィール</h1>
    <p>ユーザー名 : {{ username }}</p>
    <p>メールアドレス : {{ email }}</p>
    <p>年齢 : {{ age }}</p>
    <p>フォロー数 : {{ following_number }}</p>
    <p>フォロワー数 : {{ followee_number }}</p>
    <p>
        <a href="{% url 'followlist' username %}">フォローリスト</a>
    </p>
    <p>
        <a href="{% url 'followerlist' username %}">フォロワーリスト</a>
    </p>
    {% if user.username == username %}
    {% elif is_follow %}
        <form action="{% url 'unfollow' username %}" method="post">
            {% csrf_token %}
            <input type="submit" name="unfollow" value="unfollow">
        </form>
    {% else %}
        <form action="{% url 'follow' username %}" method="post">
            {% csrf_token %}
            <input type="submit" name="follow" value="follow">
        </form>
    {% endif %}
    <h2>
        <a href="{% url 'update' user.pk %}">プロフィール編集</a>
    </h2>
    <p>{{ user.username }}でログイン中</p>
    <h3>このユーザーのツイート</h3>
    {% for tweet in tweet_list %}
      <div class="tweet">
        <p>username: {{ tweet.user }}</p>
        <p>published: {{ tweet.published_at }}</p>
        <div id="text">
          <h3>{{ tweet.text }}</h3>
        </div>
        <p id="delete">
          <a href="{% url 'delete' tweet.pk %}">削除</a>
        </p>
        <p><a href ="{% url 'detail' tweet.pk %}">詳細</a></p>
        {% if tweet.pk in like_list %}
        <form action="{% url 'unlike' tweet.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" name="unlike" value="unlike">
        </form>
        {% else %}
        <form action="{% url 'like' tweet.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" name="like" value="like">
        </form>
        {% endif %}
      </div>
    {% endfor %}
{% endblock %}

