{% extends 'base.html' %}

{% block title %}profile{% endblock %}
{% block css %}

{% endblock %}
  
  
{% block content %}
    <h1>プロフィール</h1>
    <p>ユーザー名 : {{ username }}</p>
    <p>メールアドレス : {{ email }}</p>
    <p>年齢 : {{ age }}</p>
    <p>フォロー数 : {{ follow }}</p>
    <p>フォロワー数 : {{ follower }}</p>
    <p>
        <a href="{% url 'followlist' username %}">フォローリスト</a>
    </p>
    <p>
        <a href="{% url 'followerlist' username %}">フォロワーリスト</a>
    </p>
    <h2>
        <a href="{% url 'follow' username %}">フォロー（すでにフォローしている場合はフォロー解除）</a>
    </h2>
    <h2>
        <a href="{% url 'update' user.pk %}">プロフィール編集</a>
    </h2>
    <p>{{ user.username }}でログイン中</p>
{% endblock %}

